@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

/* =======
Custom Properties
======== */

:root {
  /* colors */
  --clr-black: 0 0% 0%;
  --clr-white: 0 0% 100%;
  --clr-dark: 0 0% 27%;
  --clr-light: 0 0% 63%;

  /* font families */
  --ff-sans: 'Spartan', Arial, Helvetica, sans-serif;

  /* font sizes */
  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.25rem;
  --fs-900: 3rem;
}

@media (min-width: 25em) {
  :root {
    --fs-300: 1rem;
    --fs-600: 1.75rem;
  }
}

@media (min-width: 45em) {
  :root {
    --fs-300: 1rem;
    --fs-600: 2.25rem;
  }
}

/* =======
Reset
======== */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Set minimum line-height for heading elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Content thats not visible but read by screen-readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* =========
Utilities
========== */

/* layout */
.container {
  max-width: 75em;
  margin-inline: auto;
  padding-inline: 2em;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow--small {
  --flow-space: 0.75rem;
}

.flow--large {
  --flow-space: 1.5rem;
}

/* colors */
.bg-black {
  background-color: hsl(var(--clr-black));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.bg-dark {
  background-color: hsl(var(--clr-dark));
}

.bg-light {
  background-color: hsl(var(--clr-light));
}

.text-black {
  color: hsl(var(--clr-black));
}

.text-white {
  color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-light {
  color: hsl(var(--clr-light));
}

/* typography */
.uppercase {
  text-transform: uppercase;
}

.ff-sans {
  font-family: var(--ff-sans);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

.font-light {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

/* =========
General
========== */
body {
  font-family: var(--ff-sans);
  font-size: var(--fs-300);
  font-weight: 400;
}

h1,
h2,
h3 {
  line-height: 1;
}

#main {
  min-height: 100vh;
}

.primary {
  --gap: 0;
  background: yellow;
}

.primary-details {
  background: red;
  padding: clamp(3rem, 5vw, 4rem);
  flex-direction: column;
  justify-content: center;
}

.primary-details a {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 4px;
}

@media (min-width: 52em) {
  .primary {
    grid-template-columns: 1.5fr 1fr;
  }

  .hero-image {
    width: 100%;
  }
}
